spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  profiles:
    active: dev

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 50MB

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      user-ban-topic: user_ban
      like-analytics-topic: like_analytics

      channels:
        calculations_channel:
          name: calculations_channel
        ad-bought-channel:
          name: ad_bought_channel

  task:
    execution:
      pool:
        core-size: 2
        max-size: 10
        queue-capacity: 500
      thread-name-prefix: async-worker-thread- # префикс для имен потоков
  scheduler:
    comment:
      moderator:
        path-curse-words: src/main/resources/curse-words.txt
        cron: 0 * * * * *
        partition-size: 1000
        treads-count: 10
    post:
      publisher:
        cron: 1/5 * * * * *
        partition-size: 1000
        threads-count: 10

server:
  port: 8081

logging:
  level:
    root: info

services:
  s3:
    endpoint: http://localhost:9000
    accessKey: user
    secretKey: password
    bucketName: resource-post

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

